<% @announcements.each do |announcement| %>
	<div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">
      	<div class="mdl-card__supporting-text">

    		<img src="http://www.panamericanworld.com/sites/default/files/jose-bautista-beard-4.jpg" class="image"/>

        	<div class="announcement-title">
        		<%= announcement.title.capitalize %> <br><br>
        	</div>

        		<%= announcement.description %> <br><br>

    			<%= announcement.importance %> <br>
 

            <div class="delete-button">

            <%= link_to('<i class="material-icons">remove_circle</i>'.html_safe, house_announcement_path(current_user.house_id, announcement), method: :delete) if announcement.owner_id == current_user.id %>
            </div>
        </div>
    </div>
<% end %>


