<h1> What's Happenin'? </h1>

<span class="new-announcement">
 <%= render "new_announcement_modal" %>
</span>


<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> Let your housemates know about house related announcements. </span>
  </div>
</div>

<div id="announcements-list">
 <%= render "announcement_list" %>
</div>

<div class="center-horizontal">
  <%= paginate @announcements %>
</div>

