<h1> Announcements </h1>

<div class = "description">
	<p> Announcements go here </p>
</div>

<div class = "container">
	<% @announcements.each do |announcement| %>
		Name: <%= announcement.title %> <br>
		Description: <%= announcement.description %> <br>
		Importance: <%= announcement.importance %> <br> <br>
	<% end %> 
</div>



<div class = "add_button">
	<%= link_to new_announcement_path do %>
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
		  <i class="material-icons">add</i>
		</button>
	<% end %>
</div>