<div class="mdl-cell mdl-cell--12-col">
<h1> What's Happenin'? </h1>

<div class="description">
  <p> Let your housemates know about house related announcements</p>
</div>
</div>
<span class="new-announcement">
  <%= render "new_announcement_modal" %>
</span>

<div id="announcements">
  <%= render "announcement_list" %>
</div>


<%= paginate @announcements %>
