<h1> What's Happenin'? </h1>

<div class="tooltip-item">
  <i class="material-icons">help</i>
  <div class="tooltip">
    <p> Let your housemates know about house related announcements</p>
  </div>
</div>


<span class="new-announcement">
  <%= render "new_announcement_modal" %>
</span>

<div id="announcements-list">
  <%= render "announcement_list" %>
</div>


<%= paginate @announcements %>
