 <% @commandments.each do |commandment| %>

 <div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">

 	<div class="mdl-card__supporting-text">

 		Commandment: <%= commandment.title %> <br>
 		Description: <%= commandment.description %> <br>
 		<%= link_to("Delete", house_commandment_path(current_user.house_id, commandment), method: :delete) if commandment.owner_id = current_user.id %><br> <br>
 	</div>
 </div>
 <% end %>