 <% @commandments.each do |commandment| %>

 <div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">

 	<div class="mdl-card__supporting-text">

		<div class="commandment-title">
 			<%= commandment.title.capitalize %> <br><br>
 		</div>
 		
 			<%= commandment.description %> <br>

 		<div class="delete-button">
 			<%= link_to('<i class="material-icons">delete</i>'.html_safe, house_commandment_path(current_user.house_id, commandment), method: :delete) if commandment.owner_id == current_user.id %>
 		</div>
 	</div>
 </div>
 <% end %>