<h1> Commandments </h1>

<p> Commandments go here </p>

<% @commandments.each do |commandment| %>
	Commandment: <%= commandment.title %>
	Description: <%= commandment.description %>

<% end %> 

<%= link_to "Create new commandment", new_commandment_path %>