<h2> House Commandments </h2>

<span class="new-commandment">
  <%= render "new_commandment_modal" %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
    <span class="descrition-text"> <strong>Hey, <%= current_user.first_name %>! Add all agreed upon house rules here...don't be afraid to get creative. </strong> </span>
    <div><%= image_tag('commandments.png') %></div>
  </div>
</div>

<div id="commandment-list">
  <%= render "commandment_list" %>
</div>
