<h1> Commandments </h1>

<div class = "description">
	<p> Commandments go here </p>
</div>

<div class = "container">
	<% @commandments.each do |commandment| %>
		Commandment: <%= commandment.title %> <br>
		Description: <%= commandment.description %> <br>
		<%= link_to("Delete", commandment_path(commandment), method: :delete) if commandment.owner_id = current_user.id %><br> <br>
	<% end %>
</div>



	<%= link_to "Add new commandment", new_house_commandment_path(current_user.house_id) %>
