<h2> House Commandments </h2>

<span class="new-commandment">
  <%= render "new_commandment_modal" %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> Here Ye, Here Ye! View and declare the house commandments here </span>
  </div>
</div>


<div id="commandment-list">
  <%= render "commandment_list" %>
</div>
