 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>


<h1>Welcome to Homys</h1>


<% if current_user.house_id == nil %>
  Add a House
  <div class = "add_button">
  	<%= link_to new_house_path do %>
  		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
  		  <i class="material-icons">add</i>
  		</button>
  	<% end %>
  </div>
<% end %>

<p>To join an existing house ask one of the members to invite you to it.</p>

  </div>
<div class="mdl-cell mdl-cell--3-col"></div>
