<h1>Welcome to Homys</h1>

<div class = "add_button">
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
	  <i class="material-icons">add </i>
	</button>

	<div class="path">
	<%= link_to 'Create new house', new_house_path %>
	</div>
</div>
