.custom.mdl-card{
  max-width: 600px;
  width: 100%;
  min-height: 100px;

  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card{
  float: right;
}

.custom.mdl-card.description{
	margin-bottom: 10px;
}

.descrition-text {
	font-size: 14px;
}

.mdl-card__supporting-text {
  overflow-wrap: break-word;
}

.calendar.mdl-card{
  width: 100%;
}

.tab{
  margin: 0 auto;
  max-width: 600px;
}
