<div id="wrapper_main">
<!-- HEADER -->
	<header id="header">
		<div class="wrapper">
			<div class="container">
<!-- LOGO -->
				<div class="logo_main">
					<a href="/">
						<%= image_tag("homy-sml")%><span>Homys<sup class="beta">beta</sup></span>
					</a>
				</div>

<!-- MAIN MENU -->
				<i class="icon_menu visible-sm visible-xs"></i>

				<nav id="menu_main">
					<ul>
						<li><a href="#home">Home</a></li>
						<li><a href="#services">Features</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div id="wrapper_scroll">
<!-- MAIN SLIDER -->



	<section class="top-header-bar mdl-grid">


			<div class="mdl-cell mdl-cell--8-col">
			<h4 id="homys-title">Welcome to Homys</h4>
			<h5 id="slogan">Life with housemates, simplified.</h5>

			<br><br>

			<div class="sign_log_buttons">
				<span class="btn_wrapper">
					<%= link_to "Sign Up", new_user_registration_path, class: "btn btn_shadow" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<%= link_to "Log In", new_user_session_path, class: "btn btn_shadow" %>
				</span>
			</div>

			
		<div id="homys-home">
			<%= image_tag("homys-home.png", class: "homys_image") %>
		</div>
		<div style="clear: both;"></div>
		</div>



	</section>


<!-- FEATURES -->
<section id="services" class="services">
	<div class="container">
		<h2>Features</h2>

		<div class="row">

			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_cart"></i>
					<h4><a href="#">Loot List</a></h4>
					<p>Let your housemates know what items are needed through the communal shopping list. </p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">content_paste</i>
					<h4><a href="#">House Quests</a></h4>
					<p>Create and keep track of who's responsible for house chores. Each Sunday chores will be randomized to different housemates.</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">attach_money</i>
					<h4><a href="#">Money Management</a></h4>
					<p>Create and view all house invoices. Reminder text messages will be sent out to all housemates involved in each expense.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">chat</i>
					<h4><a href="#">Announcements</a></h4>
					<p>Update your housemates on what's happening in the house.</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_calendar"></i>
					<h4><a href="#">Calendar</a></h4>
					<p>Share important events with your housemates.</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_heart"></i>
					<h4><a href="#">Points</a></h4>
					<p>Collect the most points by completing house related tasks on time. Points are reset each month.</p>
				</div>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	</section>

<!-- FOOTER -->

</div>
