<div id="preloader">
	<div>
		<i class="icon_cog cog1"></i>
		<i class="icon_cog cog2"></i>
	</div>
</div>

<div id="wrapper_main">
<!-- HEADER -->
	<header id="header">
		<div class="container">
<!-- LOGO -->
			<div class="logo_main">
				<a href="/">
					<%= image_tag("homy-sml")%><span>Homys</span>
				</a>
			</div>

<!-- MAIN MENU -->
			<i class="icon_menu visible-sm visible-xs"></i>
			<i class="back_top_mobile arrow_carrot-up"></i>
			<nav id="menu_main">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#services">Features</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="wrapper_scroll">
<!-- MAIN SLIDER -->

	<section class="top-header-bar">
		<h3> </h3>
		<h4>Welcome to Homys</h4>
		<h5>Your Housemate Management App.</h5>

		<div class="sign_log_buttons">
			<div class="btn_wrapper">
				<a href="#" class="btn btn_shadow">Sign Up Now</a>
			</div>

			<div class="btn_wrapper">
				<a href="#" class="btn btn_shadow">Log In</a>
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>





<!-- < -->
<section id="services" class="services">
	<div class="container">
		<h2>Features</h2>

		<div class="row">
			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_heart"></i>
					<h4><a href="#">Rewards</a></h4>
					<p>Collect points and win real prizes each month. </p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">content_paste</i>
					<h4><a href="#">House Quests</a></h4>
					<p>Keep track of the chore list and randomize chores each week.</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">attach_money</i>
					<h4><a href="#">Expenses</a></h4>
					<p>Create invoices for housemates and send them reminder text messages to pay their bills.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_cart"></i>
					<h4><a href="#">Shopping List</a></h4>
					<p>Organize who's buying what on the communal shopping list. </p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="material-icons">chat</i>
					<h4><a href="#">Announcements</a></h4>
					<p>Update your housemates on what's happening in the house.</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="services_item">
					<i class="icon_calendar"></i>
					<h4><a href="#">Calendar</a></h4>
					<p>Share important events with your housemates.</p>
				</div>
			</div>
		</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	</section>

<!-- FOOTER -->
	<footer>
	<div class="container">

		<div class="footer_right">
			<ul class="social_links">
				<li><a href="#"><i class="social_twitter"></i></a></li>
				<li><a href="#"><i class="social_facebook"></i></a></li>
				<li><a href="#"><i class="social_linkedin"></i></a></li>
			</ul>
			<a class="back_top" title="Back to top"><i class="arrow_carrot-up"></i></a>
		</div>
	</div>
	</footer>
</div>