<br>

<%= link_to "Add event", new_house_event_path %>
<br>
<br>
<%= month_calendar(events: @events, attribute: 'date') do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>

<% end %>


