<!DOCTYPE html>
<html>

<body>

	<h1> Your friend <%= @current_user.full_name %> has invited you to join <%= @current_user.house.name %> on Homys ! </h1>

	<p> Click the link below to sign up for a Homys account: </p>

	<%= link_to "SIGN UP", new_user_registration_url %>

</body>
</html>