<h1> House Quests </h1>
<span class="new-chore">
	<%=render 'new_chore_modal' %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> Add and view your house responsibilities. You will be randomly assigned to new Quests every Sunday.  </span>
  </div>
</div>



<div id="chore-list">
  <%= render "chore_item_list" %>
</div>


