<h1> House Quests </h1>
<span class="new-chore">
	<%=render 'new_chore_modal' %>
</span>

<div class="tooltip-item">
  <i class="material-icons">help</i>
  <div class="tooltip">
    <p> Add and view your house responsibilities. You will be randomly assigned to new Quests every Sunday </p>
  </div>
</div>



<div id="chore-list">
  <%= render "chore_item_list" %>
</div>


