<h1> Chores List </h1>

<% @chore_items.each do |chore| %>
	Name: <%= chore.name %> <br>
	Description: <%= chore.description %> <br> <br>
<% end %> 

<%= link_to "Create new chore", new_chore_item_path %>