#main {
  padding-left: 50px;
  padding-right: 50px;
}

.simple-calendar {
  .day {
    border: 3px solid black;
  }

.has-events {
  color: white;
  background-color: red;
  }

.past {
  background-color: #708090;
  color: black;
  }

tr, th {
  border: 3px solid black;
  }

.today {
  background-color: #00FF00;
  color: black;
  }

}

