// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  padding-left: 50px;
  padding-right: 50px;
}

.simple-calendar {
  .day {
    border: 3px solid black;

  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #00FF00;

  }

  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    color: white;
    background-color: red;
  }

  .past {
    background-color: #708090;
    color: black;
  }

  tr, th {
    border: 3px solid black;

  }
}

