// Place all the styles related to the chore_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-content {
	padding-left: 175px;
	padding-top: 50px;
}

.demo-card-wide .mdl-card .mdl-shadow--2dp .list-card {
	padding-left: 100px !important;

}

.mdl-card__supporting-text {
	padding-left: 35px !important;
}

.chore-title {
	font-size: 35px;
	font-weight: bold;
	padding-top: 20px;
}