main.mdl-layout__content {
  background-color: #FAFAFA;
}

div.mdl-layout__drawer.navbar-container {
  background-color: #37474F;
}

.avatar {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

#name.mdl-layout-title {
  left: 70px;
  top: 20px;
  height: 100px;
  color: white !important;
  padding-left: 30px;

}

.mdl-navigation__link {
  color: #78909C !important;
  font-size: 15px;
}

.mdl-navigation__link:hover {
  background-color: #00C5CD !important;
  color: black !important;
}

.mdl-layout__header-row {
  background-color: white;
  color: black;
  font-size: 25px;
}

.mdl-layout__header-row.login {
  background-color: #37474F;
  color: white;
  }

.logo_main a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font: 700 30px "Noto Sans";
}

.logo_main img {
  padding-bottom: 5px;
}



.drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
  background-color: #263238;
}

.header-points {
  position: relative;
  left: 10px;
  top: 35px;
  color: white;
}

.drop-down-button {
  position: relative;
  left: 150px;
}

i.nav {
  position: relative;
  top: 5px;
  right: 5px;
  overflow: hidden;
}


.mdl-layout__drawer.navbar-container{
  overflow-x: hidden;
}


#verify-pin, #status-box {
  display: none;
}

.center-horizontal{
  margin: auto;
  width: 50%;
}

.clear{
  clear: both;
}


.select2.select2-container.select2-container--default{
    width: 200px !important;
}


#navavatar {
 position: absolute;
 left: 10px;
 top: 10px;
 height: 85px;
 width: 85px;
 border-radius: 50%;
}

#commandment-delete{
  float: right;
  margin-left: 5px;
  clear: both;
}



h1, h2{
  text-align: center;
}

@media screen and (max-width: 1024px) {
.mdl-layout__header {
    display: block;
  }
}

.info{
  float: left;
}

.tabs{
  margin-left: auto;
  margin-right: auto;
}

