main.mdl-layout__content {
	padding-left: 50px;
  padding-right: 50px;
  background-color: #FAFAFA;
}

div.mdl-layout__drawer.navbar-container {
  background-color: #37474F;
}

#avatar {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.mdl-layout-title {
  left: 70px;
  top: 20px;
  height: 100px;
  color: white !important;

}

.mdl-navigation__link {
  color: #78909C !important;
  font-size: 15px;
}

.mdl-navigation__link:hover {
  background-color: #00C5CD !important;
  color: black !important;
}

.mdl-layout__header-row {
  background-color: white;
  color: black;
  font-size: 25px;
}

