main.mdl-layout__content {
	padding-left: 50px;
  padding-right: 50px;
  background-color: #FAFAFA;
}

div.mdl-layout__drawer.navbar-container {
  background-color: #D3D3D3;
}

#avatar {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.mdl-layout-title {
  left: 70px;
  top: 20px;
  height: 100px;

}
