.top-header-bar {
	padding: 250px 0px;
	background: #eb5055;
	color: white;
}

.top-header-bar h4{
	margin: 0 50px;
	font-size: 64px;
	font-weight: bold;
}

.top-header-bar h5 {
	margin: 0 50px;
	font-size: 32px;
	font-weight: bold;
}

.sign_log_buttons {
  /* padding-left: 480px; */
  /* padding-top: 70px; */
  margin-left: auto;
  margin-right: auto;
  width: 215.375px;
}

#header {
	position: fixed;
	.wrapper {
		background-color: #37474F;
	}
	@include clearfix;
}

#homys-home{
	width: 100%;
}

.homys_image {
/*	position: absolute;
	top: 800px;
	left: 20px;*/
	zoom: 60%;
	display: block;
  margin: auto;
}

.beta {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 3;
}


h4#homys-title {
    text-align: center;
}

#slogan {
	text-align: center;
}
