.top-header-bar {
	padding: 200px 0px;
	background: #eb5055;
	color: white;
}

.top-header-bar h4{
	margin: 0 50px;
	font-size: 64px;
	font-weight: bold;
}

.top-header-bar h5 {
	margin: 0 50px;
	font-size: 32px;
	font-weight: bold;
}

.sign_log_buttons {
	padding: 50px;
}