// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar_settings_placement{
  position: relative;
  top: 20px;
  left: 500px;
}