<h1> Loot List </h1>

<div class = "description">
	<p> List of shopping items </p>
</div>

<div class="container">
	<% @shopping_items.each do |shopping| %>
		Name: <%= shopping.name %><br>
		Importance: <%= shopping.importance %> <br>
		Who's got it? : <%= shopping.user_id %> <br>
	<% end %> 
</div>


<%= link_to "Create new loot", new_house_shopping_item_path(current_user.house_id) %>
	