<h1> Loot List </h1>

<div class="description">
  <p> Here you can add and view the loot that your house is missing.
  When viewing the list, you can be hero the house needs by picking up the item.</p>
</div>

<span class="new-shopping-item">
  <%= render "new_shopping_item_modal" %>
</span>

<div id="shopping-list">
  <%= render "shopping_item_list" %>
</div>



