<h1> Loot List </h1>

<div class = "description">
	<p> Loot list goes here </p>
</div>

<div class="container">
	<% @shopping_items.each do |shopping| %>
		Name: <%= shopping.name %>
		Importance: <%= shopping.importance %>
	<% end %> 
</div>

<div class = "add_button">
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
	  <i class="material-icons">add</i>
	</button>

	<%= link_to "Create new shopping item", new_shopping_item_path %>
</div>