<h1> Loot List </h1>

<p> Loot list goes here </p>

<% @shopping_items.each do |shopping| %>
	Name: <%= shopping.name %>
	Importance: <%= shopping.importance %>
<% end %> 

<%= link_to "Create new shopping item", new_shopping_item_path %>