<h1>All About $$$</h1>
<%= link_to "Add Expense", new_house_expense_path(current_user.house_id) %><br>
<%= link_to "My Dues", "" %><br>
<%= link_to "All Expenses", "" %><br><br>


<% @expenses.each do |expense| %>
  <%= link_to expense.title, house_expense_path(current_user.house_id, expense) %><br>
<% end %>
