<h1>All About $$$</h1>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  My Dues
</button>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  All Expenses
</button>

<span class="new-expense">
  <%= render "new_expense_modal" %>
</span>

<div id="expense-list">
  <%= render "expense_list" %>
</div>


