<h1>All About $$$</h1>

<div class="tooltip-item">
  <i class="material-icons">help</i>
  <div class="tooltip">
    <p>Here you can let your housemates know what they owe you and see your IOUs.</p>
  </div>
</div>



<%= link_to "My Dues", house_expense_path(@house, "ious"), :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>

<span class="new-expense">
  <%= render "new_expense_modal" %>
</span>

<div id="expense-list">
  <%= render "expense_list" %>
</div>


