<h1>All About $$$</h1>
<%= link_to "My Dues", "" %><br>
<%= link_to "All Expenses", "" %><br><br>

<div class="new-expense">
  <%= render "new_expense_modal" %>
</div>

<div id="expense-list">
  <%= render "expense_list" %>
</div>


