<div class="mdl-layout__drawer navbar-container">

	<% if current_user %>
	<header class="drawer-header">

  	 <%= image_tag current_user.avatar, id: 'avatar' %>


		<span class="mdl-layout-title"><%= current_user.full_name if current_user %>
  	</span>

  	<span class = "header-points">Points: <%= current_user.points if current_user %>

  	<i class="material-icons">arrow_drop_down</i>

  </header>
  <% end %>

	<nav class="mdl-navigation">

		<% if user_signed_in? && current_user.house_id %>
		<%= render 'layouts/logged_in_links' %>
		<% end %>

	</nav>

</div>
