<div class="mdl-layout__drawer navbar-container">

	<% if current_user %>
	<header class="drawer-header">

		<%= image_tag current_user.avatar, id: 'avatar' %>

		<span id="name" class="mdl-layout-title"><%= current_user.first_name.capitalize if current_user %>
		</span>

		<div class = "header-points">
			Points: <%= current_user.points if current_user %>
		</div>

		<div class="drop-down-button">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
  			<i class="material-icons">arrow_drop_down</i>
			</button>
		</div>


		</header>
		<% end %>

		<nav class="mdl-navigation">

			<% if user_signed_in? && current_user.house_id %>
			<%= render 'layouts/logged_in_links' %>
			<% end %>

		</nav>

	</div>
