<header class="mdl-layout__header">
  <div class="mdl-layout__header-row login">
      <div class="logo_main">
          <%= image_tag("homy-sml")%>
          <%= link_to "Homys", root_path %><sup class="beta">beta</sup>
      </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>